%li.clearfix
  .chat-body.clearfix
    .header
      = link_to appointment.customer.fullname, appointment.customer
      %small.pull-right.text-muted
        %i.fa.fa-clock-o.fa-fw
        Dentro de 4 dias
    %p
      = t "appointments.you_will_see", date: ((appointment.date - Date.today).days == 0 ? t('appointments.today') : t('appointments.on') + ' ' + appointment.date.to_s), time: l(appointment.time, format: :human_time)