- model_class = Quotation

.page-header
  %h1=t '.title', default: model_class.header_name
=render partial: 'quotation',locals: {quotation: @quotation,size: 'col-md-12'}


= link_to t('.back', default: t('helpers.links.back')), request.referrer, class: 'btn btn-default'
= link_to t('.edit', default: t('helpers.links.edit')), edit_quotation_path(@quotation), class: 'btn btn-default'
= link_to t('.destroy', default: t('helpers.links.destroy')), quotation_path(@quotation), method: 'delete', data: { confirm: t('.confirm', default: t('helpers.links.confirm', default: 'Are you sure?')) }, class: 'btn btn-danger'
