.text-center
.panel.panel-default
  .panel-heading
    %i.fa.fa-tasks.fa-fw
    = month_day_format date
  .panel-body
    %ul.chat
      - appointments.each do |appointment|
        = render partial: 'appointment', locals: {appointment: appointment}
  .panel-footer