= month_calendar events: @appointments do |date, appointments|
  - if !appointments.empty?
    - appointments.each do |appointment|
      = appointment.place
  - else
    %p.empty-day
      = date.day