%div{class: 'navbar-default sidebar', role: :navigation}
  %div{class: 'sidebar-nav navbar-collapse'}
    %ul#side-menu{class: 'nav in'}
      %li{class: 'sidebar-search'}
        /this is just a placeholder, gonna change for a real rails object
        %div{class: 'input-group custom-search-form'}
          %input{type: 'text', class: 'form-control', placeholder: 'Search...'}
          %span{class: 'input-group-btn'}
            %button{class: 'btn btn-default'}
              %i{class: 'fa fa-search'}
      %li
        =link_to root_path do
          %i{class: 'fa fa-dashboard fa-fw'}
          Dashboard
      %li
        =link_to nil do
          %i{class: 'fa fa-bar-chart-o fa-fw'}
          Uno
      %li
        =link_to '#' do
          %i{class: 'fa fa-table fa-fw'}
          Dos
          %span{class: 'fa arrow'}
        %ul{class: 'nav nav-second-level collapse'}
          %li= link_to 'Dos Uno', nil
      %li
        =link_to nil do
          %i{class: 'fa fa-edit fa-fw'}
          Tres
